<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests" thread-count="2">
    <test verbose="2" preserve-order="true" name="test1">
        <classes>
            <class name="com.macswid.AddRemoveItemBasketTest">
                <methods>
                <include name="addRemoveItem"/>
            </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="Test2">
        <classes>
            <class name="com.macswid.OrderCompleteTest">
                <methods><include name="endToEndTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>

<!--        parallel="tests" thread-count="2"-->